---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem 1rem;
}

.project-name {
  margin-bottom: 0px;
}

.project-tagline {
  margin: 0px;
  margin-bottom: 10px;
}

.btn {
 margin-bottom: 0px;
}
